@media screen{
    .navbar .container-fluid, .navbar-expand-lg .navbar-collapse .navbar-nav{
        

        flex-direction:column;
        align-items: flex-start;
    }
    .navbar{
        
        width: auto;
        align-items: flex-start;
    }

    .navbar-brand{
        
        font-size: auto;
        font-weight: bold;
    }

    .Logout{
        margin-top: 193px;
    }

    .pilihan button {
        background-color: #FF0000; /* Ganti warna latar belakang sesuai keinginan Anda */
        border: none; /* Menghilangkan border */
        border-radius: 20px; /* Menentukan radius untuk membuat latar belakang berbentuk rounded */
        padding: 5px 10px; /* Menentukan padding untuk memberikan ruang di sekitar teks */
        color: #FFFFFF; /* Warna teks */
    }
}

.Secondary-text{
    margin-top: 30px;
}

.Tanggal{
    width: max-content;
    font-size: 24;
    font-weight: 800;
    margin-top: 15px;
}


.table {
    border-collapse: separate !important;
    border-spacing: 0;
    width: 1200px;
    margin-top: 15px;
}
 

.Font{
    font-size: 14;
    font-weight:900;
}

.containerbordered{
    margin-right: 0%;
}

.right {
    position: absolute;
    right: 0%;
    width: 255px;
    padding: 12px;
  }

.thumbnail {
    background-color: #ffff;
    padding:0%;
    border-right: #ffff;
    border-top: #ffff;
    border-bottom: #ffff;
    border-left: #ffff;
}


.Bg{
    border-radius: 15px;
    
    background: #73AD21;
    width: 90px;
    height: 30px;


}

.Gambar{
    padding: 0%;
    background-color: #ffff;
    border-top: #ffff;
    border-left: #ffff;
    border-right: #ffff;
    border-bottom: #ffff;
}

.Backround{
    width: auto;
    height: auto;
}

.table-row {
    cursor: pointer; /* Change the cursor to a pointer when hovering over the row */
}